<!DOCTYPE html>
<html lang="en">
<body>

  <h1>Find da Fish</h1>
  <h4>Explore the top sushi restaurants by number of Foursquare checkins</h4>

  <select id="city">
    <option value="New York, NY" selected="selected">New York, NY</option>
    <option value="Los Angeles, CA">Los Angeles, CA</option>
    <option value="Chicago, IL">Chicago, IL</option>
    <option value="Dallas, TX">Dallas, TX</option>
    <option value="Houston, TX">Houston, TX</option>
    <option value="Philadelphia, PA">Philadelphia, PA</option>
    <option value="Washington, DC">Washington, DC</option>
    <option value="Miami, FL">Miami, FL</option>
    <option value="Atlanta, GA">Atlanta, GA</option>
    <option value="Boston, MA">Boston, MA</option>
  </select>

<div id="chart"></div>
  <script type="text/javascript">


  $(document ).ready(function() {

  $( "#city" ).on("change", function (e) {
    e.preventDefault();
    $( "#chart" ).empty();
    var city = { city: $(this).val() };
    $.post( "/locations/city", city, callback);
  });

    function callback(json) {
      console.log(json)
      var names = [];
      var checkins = [];

      // d3 here

      for (var i = 0; i < json.length; i++) {
        names.push(json[i].Name)
        checkins.push(json[i].Checkins)
      }

      var chart,
      width = 750,
      bar_height = 20,
      height = bar_height * names.length,
      viewBox = "0 0 960 bar_height * names.length"
      preserveAspectRatio="xMidYMid"
      left_width = 300,
      gap = 2;

      var aspect = 960 / (bar_height * names.length),
          chart = $("#chart");
          $(window).on("resize", function() {
            var targetWidth = chart.parent().width();
            chart.attr("width", targetWidth);
            chart.attr("height", targetWidth / aspect);
          });

      var x = d3.scale.linear()
      .domain([0, d3.max(checkins)])
      .range([0, width]);

      // var y = d3.scale.ordinal()
      // .domain(checkins)
      // .rangeBands([0, height]);

      chart = d3.select($("#chart")[0])
      .append('svg')
      .attr('class', 'chart')
      .attr('width', left_width + width + 40)
      .attr('height', (bar_height + gap * 2) * checkins.length + 30)
      .append("g")
      .attr("transform", "translate(10, 20)");

      var y = d3.scale.ordinal()
      .domain(checkins)
      .rangeBands([0, (bar_height + 2 * gap) * names.length]);

      chart.selectAll("line")
      .data(x.ticks((d3.max(checkins))/1000))
      .enter().append("line")
      .attr("x1", function(d) { return x(d) + left_width; })
      .attr("x2", function(d) { return x(d) + left_width; })
      .attr("y1", 0)
      .attr("y2", (bar_height + gap * 2) * checkins.length);

      chart.selectAll(".rule")
      .data(x.ticks((d3.max(checkins))/1000))
      .enter().append("text")
      .attr("class", "rule")
      .attr("x", function(d) { return x(d) + left_width; })
      .attr("y", 0)
      .attr("dy", -6)
      .attr("text-anchor", "middle")
      .attr("font-size", 10)
      .text(String);

      chart.selectAll("rect")
      .data(checkins)
      .enter().append("rect")
      .attr("x", left_width)
      .attr("y", function(d) { return y(d) + gap; })
      .attr("width", x)
      .transition().delay(function (d,i){ return i * 10;})
      .duration(10)
      .attr("height", bar_height);

      chart.selectAll("text.score")
      .data(checkins)
      .enter().append("text")
      .attr("x", function(d) { return x(d) + left_width; })
      .attr("y", function(d, i){ console.log("y("+d+") = " + y(d)); return y(d) + y.rangeBand()/2; } )
      .attr("dx", -5)
      .attr("dy", ".36em")
      .attr("text-anchor", "end")
      .attr('class', 'score')
      .text(String);

      chart.selectAll("text.name")
      .data(names)
      .enter().append("text")
      .attr("x", left_width / 2)
      .attr("y", function(d, i){ return (i-1)*24 + y.rangeBand()/2 + 22;  })
      .attr("dy", ".36em")
      .attr("text-anchor", "middle")
      .attr('class', 'name')
      .text(String);

    }

    $.ajax({
      type: "GET",
      url: "http://localhost:3000/locations",
    }).done(callback);

  });

</script>
</body>
